<div class="report-upload-page">
  <h2>{{ 'Lagard Starts'|t }}</h2>
  {{ forms.lagard_starts }}

  <h2>{{ 'Pre/Post Relation'|t }}</h2>
  {{ forms.pre_post_relation }}

  <h2>{{ 'On the Job Progress'|t }}</h2>
  {{ forms.on_job_progress }}
</div>
